@model MC.ContactLessDining.ViewModels.CartIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Keranjang Belanja</h2>

<div>
    @{Html.RenderPartial("_CartDetail", Model.ShoppingCartItems);}
</div>