@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    <b>Meat Compiler Sektor 2</b><br />
    Jln. Bintaro Tengah Raya Blok U5/39<br />
    Bintaro Jaya Sektor 2<br />
    Tangerang Selatan<br />
    <a href="https://goo.gl/maps/JsJs6QtH5nctyYN6A">Google Maps</a><br />
    <abbr title="Phone">P:</abbr>
    0817 6328 000 (aktif pada jam operasional)
</address>

<address>
    <b>Meat Compiler Sektor 7</b><br />
    Ruko Kebayoran Square D-23<br />
    Jln. Boulevard Bintaro Jaya<br />
    Tangerang Selatan<br />
    <a href="https://goo.gl/maps/kuTkvcj2hwDCh3QQ9">Google Maps</a><br />
    <abbr title="Phone">P:</abbr>
    0817 6328 001 (aktif pada jam operasional)
</address>